body {
  font-family: 'Julee', sans-serif;
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-family: 'Julee', sans-serif;
  font-size: 48px;
  color: #fefefe;
}

p {
  font-family: 'Yeon Sung', sans-serif;
  font-size: 18px;
  color: #f6eded;
  line-height: 1.5;
  margin: 20px 0; 
}

header {
  text-align: center;
  padding: 20px;
  background-color: #100646;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #000;
}

/* 달력 컨테이너 */
#calendar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

#calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

#month-year {
  font-size: 24px;
  font-family: 'Jua', sans-serif;
  color: #070202;
}

/* 달력 그리드 */
#calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
  background: #FFFDFD;
  border: 1px solid #000000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.day-header {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background: #100646;
  color: #fff;
  border-radius: 5px;
}

.calendar-day {
  font-family: 'Jua', sans-serif;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}

.calendar-day:hover {
  background-color: #dfe6e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar-day.recorded {
  background-color: #38495b;
  color: #fff;
}

.calendar-img {
  width: 50px;
  height: 75px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* 모달 창 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  font-family: 'Jua', sans-serif;
  background-color: #F0F0F0;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"], input[type="file"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1a1313;
  border-radius: 4px;
  font-family: 'Jua', sans-serif;
}

button {
  background-color: #100646;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Jua', sans-serif;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* 독서 기록 */
#reading-log {
  list-style-type: none;
  padding: 0;
}

#reading-log li {
  margin: 10px 0;
  background-color: #FFFDFD;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#reading-log img {
  width: 50px;
  height: 75px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 5px;
}

/* 메모 */
.memo-icon {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  color: #007bff;
}

.hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  padding: 10px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #f7f3f3;
  padding: 10px;
}

.dropdown-menu {
  font-family: 'Jua', sans-serif;
  pointer-events: auto; 
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 200px;
  padding: 10px 0;
  z-index: 1000;
}

.hamburger-menu:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
